
*{
    box-sizing: border-box;
}


body{
    background-color: rgb(7, 7, 7);
    /* background-color: rgb(36, 38, 49); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
    
    
 .container{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 95vh;
     /* border-bottom: 1px yellow solid; */
}   

img{
    height: 95%;
    margin: 0 0 0 120px;
    z-index: 0;
    opacity: 0%;
}

.box{
    background-color: rgb(186, 156, 7);
    height:60px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: white solid 1.5px;
    box-shadow: 
        inset 0 0px 15px 12px rgba(225, 211, 100, 0.83);
    color: rgb(48, 46, 3);
    font-size: 2rem;
    font-weight: 700px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    margin: 80px 280px 0 0;
    z-index: 1;
    overflow: hidden;
}


.box:hover{

    border: white solid 2px;
    color: rgb(251, 244, 217);
    cursor: pointer;
    box-shadow:
        inset 0 0px 15px 12px rgba(225, 211, 100, 0.83),
        0px 0px 30px rgba(210, 204, 144, 0.7);

    
}

.box.glow{
    animation: 4s forwards ripple;

}

.ball-one{
    height: 2px;
    background-color: rgb(253, 252, 248);
    /* border-radius: 50px; */
    height: 2px;
    width: 10px;
    margin-right: 160px;
    margin-top: 835px;
    position: absolute;
    opacity: 0%;
    /* animation-name: flash; */
    animation-duration: 2s;
    animation-delay: 1s;   
}

.ball-two{
    height: 2px;
    background-color: rgb(253, 252, 248);
    /* border-radius: 50px; */
    height: 2px;
    width: 15px;
    margin-right: 180px;
    margin-top: 835px;
    position: absolute;
    opacity: 0%;
    /* animation-name: flash; */
    animation-duration: 1.5s;
    animation-delay: 1.5s;   
}

.ball-three{
    height: 2px;
    background-color: rgb(253, 252, 248);
    /* border-radius: 50px; */
    height: 2px;
    width: 25px;
    margin-right: 200px;
    margin-top: 835px;
    position: absolute;
    opacity: 0%;
    animation-duration: 1s;
    animation-delay: 2s;   
}


.flash{
    animation-name: flash;
    animation-timing-function: ease-in-out;
    animation-iteration-count: forwards;
    animation-direction: alternate;

}

    /* bottom-border: px solid yellow; */


.show{
    animation: 5s forwards reveal;
}

@keyframes ripple {
    from {
        border: 4px solid white;
        color: rgba(0, 0, 0, 0);
    }
            
    25% {
        border: 1px solid  rgb(238, 221, 95);
        background-color: black;
        box-shadow: none;
        color: rgba(242, 239, 188, 0);

    }
    100% {
        /* border: 1px solid  rgba(238, 221, 95, 0); */
        border: 1px solid  rgba(238, 236, 217, 0.524);
        background-color: black;
        box-shadow: 0 0px 40px 7px rgba(238, 236, 217, 0.524),
        inset 0 0px 5px 0px rgba(242, 237, 199, 0.83);
        color: rgb(242, 239, 188);

    }
}


@keyframes reveal {
   30% {opacity: 0%;}
   100% {
        opacity: 100%;
        /* border-left: rgb(235, 217, 21) 1px solid;
        border-right: rgb(235, 217, 21) 1px solid; */
        border-right: solid 2px;
        border-image: 
            linear-gradient(
            to top, 
            rgb(235, 217, 21),
            rgba(0, 0, 0, 0) 60%,
            black 90%
            ) 
            1;
    }
}

@keyframes flash {
    0% {
        transform:translateX(0px) rotate(0);
        opacity: 0%;
        height: 4px;
        background-color: rgb(253, 252, 248);

    }

    100% {
        transform:translateX(425px) rotate(0);
        opacity: 80%;
        height: 2px;
        background-color:rgb(235, 217, 21) ;
    }
}

/* .shimmer {
    -webkit-mask:linear-gradient(-60deg,#fbf6a0 55%,rgba(255, 255, 254, 0.612),#fbf6a0 70%) right/300% 100%;
    animation: shimmer 2.5s infinite;

  }
  
  @keyframes shimmer {
    100% {-webkit-mask-position:left}
  } */

.shimmer:before{
    content:"";
    position: absolute;
    height: 200px;
    width: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgb(251, 241, 213);
    filter: blur(1px);
    opacity: 0.8;
    top: -120px;
    transition:.8s ease-in;
    transform: rotate(-50deg) translateX(-130px);
}

.shimmer:hover:before{
    transform: rotate(-70deg) translate(140px, 100px);
}

.shimmer-two:before{
    content:"";
    position: absolute;
    height: 200px;
    width: 40px;
    background-color: rgba(253, 239, 195, 0.903);
    box-shadow: 0 0 10px rgb(249, 243, 229);
    filter: blur(8px);
    opacity: 0.4;
    top: -120px;
    transition:.6s ease-in;
    transform: rotate(-50deg) translateX(-130px);
}


.shimmer-two:hover:before{
    transform: rotate(-70deg) translate(140px, 100px);
}
/* .shimmer-on{
    transform: rotate(-20deg) translate(140px, 70px);
} */